html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* -- Baseline Elements --*/
body{ 
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
}
h1{
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
p{
  font-family: georgia;
  line-height: 1.75;
}


.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}




/* -- Header -- */

.banner{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5847/viewport-selection-opt.jpg) no-repeat 50% 50%;
  text-transform: uppercase;
  text-align:center;
  color: #fff;
  font-size: 2rem;
  padding: 10rem 0;
}



/* ----------- Grid --------- */
/* -------------------------- */
.col-container{
  margin: 3rem 0;
}

.column_photo img{
    max-width:100%;
}
@media screen and (max-width: 600px) {
  .column_photo {
      width:100%;
    }
}

@media screen and (min-width: 601px) and (max-width:1023px) {
  .column_photo {
    /*float: left;*/
    float:left;
    margin: 0 0 0 6%;
    /* -- 47 + 47 = 94% -- */
    width: 47%;
    }

  .column_photo:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px)  {
  .column_photo {
    float: left;
    margin: 0 0 0 6%;
    /* -- 29.33+29.33+29.33 + 6+6 = 99.99% -- */
    width: 29.33%;
    }
    
  .column_photo:nth-child(3n+1) {
    margin-left: 0;
  }*/
}




/* -- Footer -- */
.footer{
  background: #111;
  text-align: center;
  color: #fff;
}

